*{
   margin: 0;
   padding: 0;
   box-sizing:border-box;
 }
 
 .wrapper{
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top:10px;
   border: solid rgb(2, 2, 182);
   border-radius: 10px;
   padding: 2px;
 }
 .strong{
   padding: 2px;
   font-size: 150%
 }


